@use 'utils' as *;

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  box-shadow: 0 0 0 1000px #121212 inset !important;
  -webkit-box-shadow: 0 0 0 1000px #121212 inset !important;
  -webkit-text-fill-color: #94cbff !important;
  color: #94cbff !important;
  caret-color: #fff !important;
}